{
  "presets": [
    "airbnb",
    "es2015",
    [
      "babel-preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-es2015-spread",
    "transform-class-properties"
  ]
}
